/* #region COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.pfp-square img {
  height: 100%;
  border-radius: 50%;
}

.my-status i,
.top-bar i {
  color: var(--icons-top);
  font-size: 1.8rem;
  margin-left: 25px;
}

.my-status i:first-child {
  margin: 0;
}

:root {
  --background-grey: #dadbd4;
  --background-green: #009688;
  --background-header: #eaeaea;
  --background-type-bar: #f3eeea;
  --icons-top: #b1b1b1;
  --icons-bottom: #6b7376;
  --notifications: #8edafc;
  --green-message: #d5f9ba;
  --background-searchbar: #fafafa;
}

/* #endregion COMMON */

/* #region UTILITIES */

.container {
  height: 90vh;
  width: 80%;
  display: flex;
}

[class*="col-"] {
  /* border: 1px dashed; */
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.col-12 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.pr-30 {
  padding-right: 30px;
}

/* #endregion UTILITIES */

/* #region HEADER */
/* #endregion HEADER */

/* #region MAIN */

/* #region LEFT  */

.left {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.my-status {
  background-color: var(--background-header);
  /* border: 1px dashed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.pfp-square {
  height: 100%;
  padding: 15px;
}

.icons {
  padding-right: 30px;
}

.notifications {
  background-color: var(--notifications);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.bell-icon {
  background-color: white;
  padding: 20px 15px;
  border-radius: 50%;
}

.notifications .bell {
  color: var(--notifications);
}

.notifications-text p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.notifications-text span {
  color: rgb(84, 84, 84);
  text-decoration: underline;
  font-size: 1.1rem;
}

.search-bar {
  background-color: var(--background-searchbar);
  padding: 10px;
}

.icon-input {
  background-color: white;
  padding: 15px;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
}

.icon-input input {
  border: none;
  flex-grow: 1;
  font-size: 1rem;
  min-width: 20px;
}

.icon-input input:focus-visible {
  outline: none;
}

.icon-input i {
  color: grey;
  margin-right: 20px;
}

.contacts {
  overflow: auto;
}

.contact {
  background-color: white;
  /* border: 1px dashed; */
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.contact-text {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.name p {
  font-size: 1.3rem;
  margin-bottom: 4px;
}

.name span {
  color: rgb(162, 162, 162);
}

.time {
  margin-right: 10px;
  color: rgb(162, 162, 162);
}

/* #endregion LEFT  */

/* #region RIGHT  */

.top-bar {
  background-color: var(--background-header);
  display: flex;
  align-items: center;
  height: 90px;
  display: flex;
  border-left: 1px solid gainsboro;
}

.top-bar-icons {
  margin-left: auto;
}

.content {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 90px - 80px);
  overflow: auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.type-bar {
  background-color: var(--background-type-bar);
  /* border: 1px dashed; */
  height: 80px;
}

.message-left,
.message-right {
  max-width: 60%;
  padding: 15px 0 0 15px;
  border-radius: 10px;
}

.message-right {
  background-color: var(--green-message);
  align-self: flex-end;
}

.message-left {
  background-color: white;
  align-self: flex-start;
}

.message-time {
  text-align: end;
  color: rgb(144, 144, 144);
  font-size: 0.7rem;
  margin: 5px 4px 4px 0;
}

[class^="message-"] p {
  padding-right: 10px;
}

/* #endregion RIGHT  */

/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* TABLET RESPONSIVE */
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  .left {
    width: 90px;
  }

  .right {
    flex-grow: 1;
  }

  .notifications,
  .search-bar {
    display: none;
  }

  .my-status :not(.pfp-square, img) {
    display: none;
  }

  .contact :not(.pfp-square, img) {
    display: none;
  }
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 540px) {
  .col-sm-1 {
    width: calc(100% / 12);
  }

  .col-sm-2 {
    width: calc((100% / 12) * 2);
  }

  .col-sm-3 {
    width: calc((100% / 12) * 3);
  }

  .col-sm-4 {
    width: calc((100% / 12) * 4);
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-8 {
    width: calc((100% / 12) * 8);
  }

  .col-sm-10 {
    width: calc((100% / 12) * 10);
  }

  .col-sm-11 {
    width: calc((100% / 12) * 11);
  }

  .col-sm-12 {
    width: 100%;
  }

  .container > .left {
    display: none;
  }
}

/* #endregion MEDIA QUERIES */
