/* #region COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

:root {
  --background-grey: #dadbd4;
  --background-green: #009688;
  --background-header: #eaeaea;
  --background-type-bar: #f3eeea;
  --icons-top: #b1b1b1;
  --icons-bottom: #6b7376;
  --notifications: #8edafc;
  --green-message: #d5f9ba;
}

/* #endregion COMMON */

/* #region UTILITIES */

.container {
  background-color: aqua;
  height: 90vh;
  width: 80%;
  display: flex;
}

[class*="col-"] {
  background-color: beige;
  border: 1px dashed;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.col-12 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* #endregion UTILITIES */

/* #region HEADER */
/* #endregion HEADER */

/* #region MAIN */

/* #region LEFT  */

.my-status {
  background-color: var(--background-header);
  height: 60px;
  border: 1px dashed;
}

.contacts {
  height: calc(100% - (60px * 3));
  overflow: auto;
}

.contact {
  background-color: white;
  border: 1px dashed;
  height: 50px;
}

/* #endregion LEFT  */

/* #region RIGHT  */

.top-bar {
  background-color: var(--background-grey);
  border: 1px dashed;
  height: 60px;
}

.content {
  height: calc(100% - (60px * 2));
  overflow: auto;
}

.type-bar {
  background-color: var(--background-type-bar);
  border: 1px dashed;
  height: 60px;
}

/* #endregion RIGHT  */

/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* TABLET RESPONSIVE */
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: 100%;
  }
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 540px) {
  .col-sm-1 {
    width: calc(100% / 12);
  }

  .col-sm-2 {
    width: calc((100% / 12) * 2);
  }

  .col-sm-3 {
    width: calc((100% / 12) * 3);
  }

  .col-sm-4 {
    width: calc((100% / 12) * 4);
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-8 {
    width: calc((100% / 12) * 8);
  }

  .col-sm-10 {
    width: calc((100% / 12) * 10);
  }

  .col-sm-11 {
    width: calc((100% / 12) * 11);
  }

  .col-sm-12 {
    width: 100%;
  }

  .container > .left {
    display: none;
  }
}

/* #endregion MEDIA QUERIES */
